{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}

{% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light color navsize">
		<a class="navbar-brand" href="{{ url_for('home') }}"><img src="https://sxobcw.ch.files.1drv.com/y4mbIervt2JsmAjJD4eGBfHPu4ELT8t0Hp28hPMVNrjEB4J84mEl7LfgquTz_Rynbp1I4yLjKHLCJD4rQyP5NdRhMfV-m1y0rg0ileT5jFpWE5xONbrG1jO8B_S4E8IBoPOSKWIIn9FjlBe_yaiLOM-OKsC81GfElYizdga0vRWOXBtxW7EQCpNY-JaCrbTqDVPQmk21almeh7vJA8cUZCZpw?&cropmode=none" width="27%"/></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item linksize" href="{{ url_for('viewListing', user=user) }}">BOOKS</a>
          <a class="nav-item linksize" href="{{ url_for('newlisting', user=user) }}">SELL</a>
          <a class="nav-item linksize" href="{{ url_for('viewChat', user=user) }}">CHATS</a>
          <a class="nav-item linksize" href="{{ url_for('about', user=user) }}">ABOUT</a>
          <a class="nav-item linksize" href="{{ url_for('logout') }}">LOGOUT</a>
        </div>
      </div>
    </nav>
{% endblock %}

{% block body %}
<div class="container mt-3">
<h1 class="text-center">Chats</h1>
    {% for u in users %}
    {% if u['username'] != user %}
    <a class="btn btn-secondary btn-block" href="{{ url_for('chatting', user=user, user2=u['username']) }}"><i class="fas fa-user"></i>    {{ u['username'] }}</a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}